
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;

}



.petite-police{
    font-size: small;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ABeeZee', sans-serif;

}

h1{
    font-size: 50px;
}

h2{
    font-size: 25px;
}

a{
    text-decoration-line: none;
    color:black;
}

a:hover, a:active, a:visited {
    color:black;
}

.logo{    
    border: 1px solid black;
}

.bloc-centre {
    margin:auto;
    display:block;    
}

.bloc-a-gauche{
    margin-right:10px;
    display:block;    
}

.bouton{
    display:block;
    white-space:nowrap; /* pas de scindage du texte */
    border: solid 2px;
    padding: 10px 10px;
    border-radius: 20px;      
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff9090;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}

.formulaire{
    margin: 10px;
    border: solid 1px;
    padding: 10px 10px;
    display:flex;
    align-items:flex-start;
    flex-direction:column;    
  
    background-color:#F0E0E0;
}

.element-formulaire{
    margin:8px;
    display:flex;
    /*margin: 10px;*/
}


.label-formulaire {
    text-align: right;
    display:block;
    width: 150px;
    /*border: 2px solid #ccc;*/    
  }

.input-formulaire {
    display:block;
    margin-left:10px;
    /*margin-top: 10px;
    padding: 12px 20px;*/
    border: 2px solid #cccccc;
    border-radius: 4px;
  }




.section-acteurs{
    margin:20px;
    border: 2px solid black;
    padding: 20px;
}


.en-tete{
    margin:0;
    border-bottom: 2px solid black;
    /*height:250px;*/
    display:flex;
    justify-content: space-between;

}

.logo-gbaf{
    /*display:block;*/
    /*margin:10 auto;*/
    height: 200px;
    width:auto;
    align-self: center;
    

}

.logos-banques{
        width: 100%;
        min-width: 900px; 
}


.logos-banques-small{
    display:none;
}

.identite{
    margin:20px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.un-acteur{
    margin:10px;
    border: 1px solid black;
    padding: 10px;
    display:flex;
    gap:10px;
    justify-content: space-between;
    
}

.logo-acteur {

    width:200px;
    object-fit:contain; /* permet de maintenir les proportions de l'image */
    
  }

.texte-tronque {
    width: 70%;
    height: 50px;
    /* code pour que le texte soit tronqué automatiquement */
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* les trois petits points ... */
  }
  

.lire-la-suite{

    white-space:nowrap; /* pas de scindage du texte */
    align-self:flex-end; /* en bas */
    padding: 10px 10px;
  
    
}

.texte-lire-la-suite {

    text-decoration-line: none;
}


/* page actor.php */

.act-section-acteur
{
    margin:20px;
    border: 2px solid black;
    padding: 40px;
}

.act-logo-acteur {

    width:300px;
    object-fit:contain; /* permet de maintenir les proportions de l'image */
    margin:auto;
    display:block;
}

.act-visiter-le-site-web{
    margin-top:40px;

}

.act-description{
    margin-top:40px;
}
 
 .act-section-commentaires  
  {
    margin:20px;
    border: 1px solid black;
    padding: 20px;
}

.act-ligne-commentaires{
    display:flex;
    justify-content:space-between;


}

.act-un-commentaire{
    margin-left:10px;
    margin-top:30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}



.btn-thumb{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;    
    background-image: url('images/inactive-thumb-up.png');
    background-position: center;
    background-repeat: no-repeat;      

}

.btn-like-inactive{

    background-image: url('images/inactive-thumb-up.png');
  
}

.btn-like-active{

    background-image: url('images/active-thumb-up.png');
  
}


.btn-dislike-inactive{

    background-image: url('images/inactive-thumb-down.png');
  
}

.btn-dislike-active{

    background-image: url('images/active-thumb-down.png');
  
}





 /* pages dans comments */



.comment-formulaire-comment{
    margin: 10px;
    border: solid 1px;
    padding: 10px 10px;
    display:flex;
    align-content:center;
    justify-content:center;
    flex-direction:column;    
    min-height:500px;
}

.comment-label{
    display:block;
    align-self: center;
    margin:10px;
}

.comment-textarea{
    display:block;
    margin:10px;
    min-height: 300px;
    width:100%;
    align-self: center;
}

.comment-bouton-envoyer{
    display:block;
    white-space:nowrap; /* pas de scindage du texte */
    border: solid 1px;
    padding: 10px 10px;
    border-radius: 10px;      
    width:fit-content;
    align-self: flex-end;
    margin:10px;
}





/* tablettes */
@media screen and (max-width: 1200px){

    .un-acteur{
        margin:10px;
        border: 1px solid black;
        padding: 10px;
        display:flex;
        flex-wrap:wrap;  /* on place le lien en bas à droite */
        justify-content:space-around; 
    }

    .logo-acteur {
        align-self: center;
    }


    .lire-la-suite{
        margin-left: auto; /* permet de justifier à droite */
        /* justify-self n'est pas possible pour Flex */
    }
}


/* smartphones */
@media screen and (max-width: 900px){


    /* header */
    /*.en-tete{
        justify-content:center;
        flex-direction:column;
    }*/

    .identite{
        align-self: center;
    }

    /* le logo GBAF est déjà centré */


    /* section acteurs */
    .un-acteur {    
        display:flex; 
        flex-direction: column;
        justify-content:space-around;
        align-content:flex-end;
    }

    .logo-acteur {
        align-self: center; /* alignement horizontal au centre*/
        margin:0;
        width: 100%;
    }
    
    .texte-tronque {        
        align-self: flex-start; /* alignement horizontal à droite */
    }

    .lire-la-suite{    
        align-self:flex-end;  /* alignement horizontal à gauche */
       
    }
    .logos-banques{
        display:none;

    }

    .logos-banques-small{
        display:flex;
       
        justify-content:space-around;
        background-color: rgba(0, 0, 0, 0.1);
        flex-wrap: wrap;


    }

    .logo-une-banque{
        display:block;        

        margin:10px;

        object-fit:contain; 

    }
    
}




