
*{box-sizing: border-box;}



.section-acteurs{
    margin:20px;
    border: 2px solid black;
    padding: 20px;
}


.en-tete{
    margin:0;
    padding:auto;
    border-bottom: 2px solid black;
    /*height:250px;*/
    display:flex;
    justify-content: space-between;

}

.logo-gbaf{
    /*display:block;*/
    /*margin:10 auto;*/
    height: 200px;
    width:auto;
    align-self: center;
    

}

.identite{
    margin:20px 20px;
}


.un-acteur{
    margin:10px;
    border: 1px solid black;
    padding: 10px;
    display:flex;
    gap:10px;
    justify-content: space-between;
    
}

.logo-acteur {

    width:200px;
    object-fit:contain; /* permet de maintenir les proportions de l'image */
    
  }

.texte-tronque {
    width: 70%;
    height: 50px;
    /* code pour que le texte soit tronqué automatiquement */
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* les trois petits points ... */
  }
  

.lire-la-suite{

    white-space:nowrap; /* pas de scindage du texte */
    align-self:flex-end; /* en bas */
    border: solid 1px;
    padding: 10px 10px;
    border-radius: 10px;    
    
}

.texte-lire-la-suite {

    text-decoration-line: none;
}


/* page actor.php */

.act-section-acteur
{
    margin:20px;
    border: 2px solid black;
    padding: 20px;
}

.act-logo-acteur {

    width:300px;
    object-fit:contain; /* permet de maintenir les proportions de l'image */
    margin:auto;
    display:block;

    
  }


 
 .act-section-commentaires  
  {
    margin:20px;
    border: 1px solid black;
    padding: 20px;
}

.act-un-commentaire{
    margin:10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.act-nouveau-commentaire{

    white-space:nowrap; /* pas de scindage du texte */

    border: solid 1px;
    padding: 10px 10px;
    border-radius: 10px;    
    
}

.act-nouveau-commentaire-texte{
    text-decoration-line: none;

}

 /* pages dans comments */



.comment-formulaire-comment{
    margin: 10px;
    border: solid 1px;
    padding: 10px 10px;
    display:flex;
    align-content:center;
    justify-content:center;
    flex-direction:column;    
    min-height:500px;
}

.comment-label{
    display:block;
    align-self: center;
    margin:10px;
}

.comment-textarea{
    display:block;
    margin:10px;
    min-height: 300px;
    width:100%;
    align-self: center;
}

.comment-bouton-envoyer{
    display:block;
    white-space:nowrap; /* pas de scindage du texte */
    border: solid 1px;
    padding: 10px 10px;
    border-radius: 10px;      
    width:fit-content;
    align-self: flex-end;
    margin:10px;
}


/* tablettes */
@media screen and (max-width: 1200px){

    .un-acteur{
        margin:10px;
        border: 1px solid black;
        padding: 10px;
        display:flex;
        flex-wrap:wrap;  /* on place le lien en bas à droite */
        justify-content:space-around; 
    }

    .logo-acteur {
        align-self: center;
    }


    .lire-la-suite{
        margin-left: auto; /* permet de justifier à droite */
        /* justify-self n'est pas possible pour Flex */
    }
}


/* smartphones */
@media screen and (max-width: 900px){


    /* header */
    .en-tete{
        justify-content:center;
        flex-direction:column;
    }

    .identite{
        align-self: center;
    }

    /* le logo GBAF est déjà centré */


    /* section acteurs */
    .un-acteur {    
        display:flex; 
        flex-direction: column;
        justify-content:space-around;
        align-content:flex-end;
    }

    .logo-acteur {
        align-self: center; /* alignement horizontal au centre*/
        margin:0;
        width: 100%;
    }
    
    .texte-tronque {        
        align-self: flex-start; /* alignement horizontal à droite */
    }

    .lire-la-suite{    
        align-self:flex-end;  /* alignement horizontal à gauche */
       
    }
}




